In [9]:
import pandas as pd
data = pd.read_csv(r"C:\Users\user\Documents\MISSING_DATASET_HANDLING.csv", encoding = 'latin1')
print(data.isnull().sum())

ORDERNUMBER            0
QUANTITYORDERED        0
PRICEEACH              0
ORDERLINENUMBER        0
SALES                  0
ORDERDATE            195
STATUS                 7
QTR_ID                 7
MONTH_ID               7
YEAR_ID               54
PRODUCTLINE          196
MSRP                  60
PRODUCTCODE            7
CUSTOMERNAME          46
PHONE                 93
ADDRESSLINE1         242
ADDRESSLINE2        2545
CITY                   7
STATE               1491
POSTALCODE            83
COUNTRY                7
TERRITORY           1078
CONTACTLASTNAME        7
CONTACTFIRSTNAME       7
DEALSIZE             168
dtype: int64

In [18]:
data = data.drop(columns=["ADDRESSLINE2"]) # drops the column named ADDRESSLINE2
print(data.isnull().sum())

ORDERNUMBER            0
QUANTITYORDERED        0
PRICEEACH              0
ORDERLINENUMBER        0
SALES                  0
ORDERDATE            195
STATUS                 7
QTR_ID                 7
MONTH_ID               0
YEAR_ID               54
PRODUCTLINE          196
MSRP                  60
PRODUCTCODE            7
CUSTOMERNAME          46
PHONE                  0
ADDRESSLINE1         242
CITY                   7
STATE               1491
POSTALCODE            83
COUNTRY                7
TERRITORY           1078
CONTACTLASTNAME        7
CONTACTFIRSTNAME       7
DEALSIZE             168
dtype: int64

In [19]:
data = data.dropna(subset = ["ORDERDATE", "PRODUCTLINE"]) # deletes the row with missing value
print(data.isnull().sum())

ORDERNUMBER            0
QUANTITYORDERED        0
PRICEEACH              0
ORDERLINENUMBER        0
SALES                  0
ORDERDATE              0
STATUS                 0
QTR_ID                 0
MONTH_ID               0
YEAR_ID                0
PRODUCTLINE            0
MSRP                   0
PRODUCTCODE            0
CUSTOMERNAME           0
PHONE                  0
ADDRESSLINE1          48
CITY                   0
STATE               1352
POSTALCODE            66
COUNTRY                0
TERRITORY            964
CONTACTLASTNAME        0
CONTACTFIRSTNAME       0
DEALSIZE               0
dtype: int64

In [20]:
data["MONTH_ID"] = data["MONTH_ID"].fillna(data["MONTH_ID"].median())
data["PHONE"] = data["PHONE"].fillna(data["PHONE"].mode()[0]) # fills missing value (Imputation)
print(data.isnull().sum())

ORDERNUMBER            0
QUANTITYORDERED        0
PRICEEACH              0
ORDERLINENUMBER        0
SALES                  0
ORDERDATE              0
STATUS                 0
QTR_ID                 0
MONTH_ID               0
YEAR_ID                0
PRODUCTLINE            0
MSRP                   0
PRODUCTCODE            0
CUSTOMERNAME           0
PHONE                  0
ADDRESSLINE1          48
CITY                   0
STATE               1352
POSTALCODE            66
COUNTRY                0
TERRITORY            964
CONTACTLASTNAME        0
CONTACTFIRSTNAME       0
DEALSIZE               0
dtype: int64

In [22]:
data["STATUS"].fillna(data["STATUS"].mode()[0], inplace=True) # fills with "Unknown"
print(data.isnull().sum())

ORDERNUMBER            0
QUANTITYORDERED        0
PRICEEACH              0
ORDERLINENUMBER        0
SALES                  0
ORDERDATE              0
STATUS                 0
QTR_ID                 0
MONTH_ID               0
YEAR_ID                0
PRODUCTLINE            0
MSRP                   0
PRODUCTCODE            0
CUSTOMERNAME           0
PHONE                  0
ADDRESSLINE1          48
CITY                   0
STATE               1352
POSTALCODE            66
COUNTRY                0
TERRITORY            964
CONTACTLASTNAME        0
CONTACTFIRSTNAME       0
DEALSIZE               0
dtype: int64